.app {
  &__container {
    background-color: $color-grey-light-2;

    display: flex;
    flex-direction: column;
    min-height: calc(100vh - var(--header-height));
  }
}

.header {
  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: var(--header-height);
    background-color: $color-primary;
  }

  &__logo {
    background-color: $color-grey-light-2;
    width: 8rem;
    height: 80%;
    clip-path: polygon(0 100%, 30% 0%, 50% 40%, 60% 35%, 100% 100%, 0 100%);
    position: relative;
  }

  &__heading {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-60%);
  }
}

.user {
  &__container {
    display: flex;
  }

  &__auth-btn {
    list-style: none;
    margin: 0 1rem;
  }
}

.home {
  &__container {
    width: 100vw;
    height: calc(100vh - var(--header-height));
    background-image: url("../img/home-background.jpeg");
    background-size: cover;
    background-position: center;
  }

  &__heading {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.hikes {
  &__container {
    width: 100%;
    height: calc(100vh - var(--header-height));
    margin: 0 auto;
    position: relative;
  }

  &__table {
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }

  &__add {
    display: block;
    position: absolute;
    bottom: 10rem;
    left: 50%;
    transform: translateX(-50%);
    width: 8rem;
    height: 4rem;
    border-radius: 5px;
  }
}

.new-hike {
  &__container {
    width: 100%;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__label {
    margin: 0 auto;
    height: 6rem;
  }

  &__title {
    width: 20rem;
    display: inline-block;
    margin-right: 2rem;
  }

  &__input {
    width: 30rem;
    padding: 1rem;
  }

  &__submit {
    width: 10rem;
    margin: 0 auto;
  }
}

.no-match {
  &__container {
    margin: auto;
    transform: translateY(-50%);
  }
}
